body {
  margin: 0;
  cursor: default;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.github_link {
  display: inline-block;
  padding: 10px 20px;
  font-family: 'Roboto';
  color: #fff;
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s ease;
}

.github_link:hover {
  background: rgba(0,0,0,0.8);
}

.container {
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 24px;
  font-family: 'Roboto';
  margin: 30px 0 20px 0;
}

.tooltip {
  position: relative;
  font-family: 'Roboto';
  background: #393E46;
  color: #fff;
  display: inline-block;
  opacity: 0;
}

.tooltip__result {
  background: #222831;
  color: #FFD740;
  float: left;
  height: 40px;
  width: 50px;
  text-align: center;
  font-size: 26px;
  padding-top: 10px;
}

.tooltip__detail {
  display: inline-block;
  padding: 5px 10px;
}

.axis text {
  font-family: 'Roboto Mono';
  font-size: 12px;
}

.axis path {
  opacity: 0;
}

.axis line {
  stroke: #333;
}

.axislabel {
  font-family: 'Roboto Mono';
  font-size: 12px;
}

.averageLineLabel {
  font-family: 'Roboto Mono';
  font-size: 14px;
  text-align: center;
  pointer-events: none;
}
